/* ===== Customer ===== */
.divCustomer{
    margin-top: 20px;
}

/* ===== Title ===== */
h1{
    font-size: 13pt;
    font-weight: bold;
}

/* ===== Table head ===== */
.tblStockPicking > thead > tr > th{
    border-bottom: none !important;
}
.tblStockPicking th{
    background: rgba(150,150,150,1);
    border: 2px solid rgba(150,150,150,1) !important;
    color: white;
}
